---
import Input from "../Input.astro";
---
<div class="form-step active">
  <div class="content">
    <h1>Olá Mundo!</h1>
      <p>Olá, seja muito bem-vindo(a) à Escola Profissional do Fundão. É com imenso prazer que recebemos você neste espaço dedicado ao aprendizado e crescimento. Estamos aqui para ajudar e esclarecer qualquer dúvida que você possa ter. Sinta-se à vontade para compartilhar suas perguntas, e faremos o nosso melhor para atendê-lo(a) o mais breve possível. Estamos comprometidos em proporcionar uma experiência educacional enriquecedora. Obrigado por escolher a Escola Profissional do Fundão como parte do seu percurso acadêmico. Estamos ansiosos para acompanhá-lo(a) nesta jornada de descobertas e conquistas.</p>
<h1></h1>
  </div>
  <div class="button-wrapper justify-end">
    <button class="btn primary" data-next type="button">CONTINUAR</button>
  </div>
</div>